<!DOCTYPE html>
<html lang="en" style="background-color:tomato;">
<head>
<body style="background-color:tomato;">
<h1 style="background-color:teal; border=blue;border-width:10px; border-style:outset">Atul's 10 Question Math Quizzes</h1>
<br>
<h2 style="background-color:teal; border=blue;border-width:10px; border-style:outset">What Quiz do you want to take</h2>
    <form method="post" style="background-color:teal; border=green; border-width:5px; border-style:solid" action="/">
        <br>
        <label for="choice">Quiz Type:</label>
        <br>
        <select name="choice" id="choice">
            <option value="Addition">Addition</option>
            <option value="Subtraction">Subtraction</option>
            <option value="Multiplication">Multiplication</option>
            <option value="Division">Division</option>
            <option value="Mixed">Mixed</option>
        </select>
        <button type="submit">Go There</button>
    </form>
</body>
<head>
</html>