<!DOCTYPE html>
<html lang="en" style="background-color:tomato;">
<head>
<body style="background-color:tomato;">
<h1 style="background-color:teal; border=blue;border-width:10px; border-style:outset">Quiz Questions</h1>
<br>
<form method="post" style="background-color:teal; border=green; border-width:5px; border-style:solid">
    {% for question in data %}
    <br>
        <label for="{{question[0]}}">{{question[1]}}</label>
        <br>
        <input type="text" name="{{question[0]}}" id="{{question[0]}}"
               placeholder="10"
               value="{{ request.form['{{question[0]}}'] }}">
    {% endfor %}
    <button type="submit">Submit</button>
    </form>
</body>
<head>
</html>